<div class="container top-margin" >
    
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <form #f="ngForm" [formGroup]="addressForm" (ngSubmit)="submitForm()">
          <h2>Address Details <small>Owner details</small></h2>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
              <input type="text" [formControl]="addressForm.controls['fName']" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" required>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="last_name" id="last_name" class="form-control input-lg" [formControl]="addressForm.controls['lName']" placeholder="Last Name" tabindex="2" required>
              </div>
            </div>
          </div>
          
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                              <input type="text" pattern="[0-9]*" [formControl]="addressForm.controls['mobile']" name="mobile" id="mobile" class="form-control  input-lg" placeholder="Mobile" tabindex="3" required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" [formControl]="addressForm.controls['email']" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" required>
                </div>
              </div>
            </div>
            
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="street1" [formControl]="addressForm.controls['street1']" id="street1" class="form-control input-lg" placeholder="Street 1" tabindex="5"required> 
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" [formControl]="addressForm.controls['street2']" name="street2" id="street2" class="form-control input-lg" placeholder="Street 2" tabindex="6" required>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <select name="location" id="location" [formControl]="addressForm.controls['location']" class="form-control input-lg" tabindex="7" required>
                      <option value="">Location</option>
                      <option *ngFor="let l of city" value="{{l.id}}">{{l.name}}</option>
                    
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="zip" id="zip" class="form-control input-lg" [formControl]="addressForm.controls['zip']" placeholder="Zip Code" tabindex="8">
                </div>
              </div>
            </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-md-6"><input type="submit" [disabled]="!addressForm.valid" value="Save" class="btn btn-primary btn-block btn-lg" tabindex="9"></div>
            <div class="col-xs-12 col-md-6"><input type="reset" class="btn btn-success btn-block btn-lg" tabindex="10" value="Cancel"></div>
          </div>
        </form>
      </div>
    </div>
    </div>