<div class="container top-margin" >
    
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form">
          <h2>Address Details <small>Owner details</small></h2>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                            <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
              </div>
            </div>
          </div>
          
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                              <input type="text" name="mobile" id="mobile" class="form-control input-lg" placeholder="Mobile" tabindex="3">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
                </div>
              </div>
            </div>
            
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="street1" id="street1" class="form-control input-lg" placeholder="Street 1" tabindex="5">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="street2" id="street2" class="form-control input-lg" placeholder="Street 2" tabindex="6">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <select name="location" id="location" class="form-control input-lg" tabindex="7" required>
                      <option value="">Location</option>
                      <option *ngFor="let l of city" value="{{l.id}}">{{l.name}}</option>
                    
                  </select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="zip" id="zip" class="form-control input-lg" placeholder="Zip Code" tabindex="8">
                </div>
              </div>
            </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-md-6"><input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" tabindex="9"></div>
            <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg" tabindex="10">Cancel</a></div>
          </div>
        </form>
      </div>
    </div>
    </div>