<div class="container top-margin" >
  
  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form [formGroup]="roomBookForm" (ngSubmit)="submitForm()">
        <h2>Book Room <small>Occupants details</small></h2>
        <hr class="colorgraph">
        <alert></alert>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <select name="city" id="city" class="form-control input-lg" tabindex="1" [formControl]="roomBookForm.controls['cityId']" required (change)="changeCity($event)">
                    <option value="">City</option>
                    <option *ngFor="let l of city" value="{{l.id}}">{{l.name}}</option>
                </select>
                <div *ngIf="roomBookForm.controls['cityId'].hasError('required') && roomBookForm.controls['cityId'].touched" class="alert alert-danger">please select city.</div>
              
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <select name="address" id="address" class="form-control input-lg" tabindex="2" required [formControl]="roomBookForm.controls['addressId']" >
                    <option value="">Address</option>
                    <option *ngFor="let l of address" value="{{l.id}}">{{l.street1}}</option>
                </select>
                <div *ngIf="roomBookForm.controls['addressId'].hasError('required') && roomBookForm.controls['addressId'].touched" class="alert alert-danger">please select address.</div>
              
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" name="roomNo" id="roomNo" class="form-control input-lg" placeholder="room number" tabindex="8" [formControl]="roomBookForm.controls['roomNo']">
          <div *ngIf="roomBookForm.controls['roomNo'].hasError('required') && roomBookForm.controls['roomNo'].touched" class="alert alert-danger">please enter room number.</div>
    
       </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group" [ngClass]="{'has-error':!roomBookForm.controls['fName'].valid && roomBookForm.controls['fName'].touched}">
            <input type="text" [formControl]="roomBookForm.controls['fName']" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" required>
            <div *ngIf="roomBookForm.controls['fName'].hasError('required') && roomBookForm.controls['fName'].touched" class="alert alert-danger">please enter first name.</div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group" [ngClass]="{'has-error':!roomBookForm.controls['lName'].valid && roomBookForm.controls['lName'].touched}">
              <input type="text" name="last_name" id="last_name" class="form-control input-lg" [formControl]="roomBookForm.controls['lName']" placeholder="Last Name" tabindex="2" required>
              <div *ngIf="roomBookForm.controls['lName'].hasError('required') && roomBookForm.controls['lName'].touched" class="alert alert-danger">please enter last name.</div>
            </div>
          </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group" [ngClass]="{'has-error':!roomBookForm.controls['mobile'].valid && roomBookForm.controls['mobile'].touched}">
                  <input type="text" pattern="[0-9]*" [formControl]="roomBookForm.controls['mobile']" name="mobile" id="mobile" class="form-control  input-lg" placeholder="Mobile" tabindex="3" required>
                  <div *ngIf="roomBookForm.controls['mobile'].hasError('required') && roomBookForm.controls['mobile'].touched" class="alert alert-danger">please enter mobile.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group" [ngClass]="{'has-error':!roomBookForm.controls['email'].valid && roomBookForm.controls['email'].touched}">
                <input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" [formControl]="roomBookForm.controls['email']" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" required>
                <div *ngIf="roomBookForm.controls['email'].hasError('required') && roomBookForm.controls['email'].touched" class="alert alert-danger">please enter email.</div>
              </div>
            </div>
          </div>
          
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group" [ngClass]="{'has-error':!roomBookForm.controls['relationMobile'].valid && roomBookForm.controls['relationMobile'].touched}">
                <input type="text" pattern="[0-9]*" [formControl]="roomBookForm.controls['relationMobile']" name="relationMobile" id="relationMobile" class="form-control  input-lg" placeholder="Relative Mobile" tabindex="3" required>
                <div *ngIf="roomBookForm.controls['relationMobile'].hasError('required') && roomBookForm.controls['relationMobile'].touched" class="alert alert-danger">please enter mobile.</div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group" [ngClass]="{'has-error':!roomBookForm.controls['relation'].valid && roomBookForm.controls['relation'].touched}">
              <input type="text" [formControl]="roomBookForm.controls['relation']" name="relation" id="relation" class="form-control input-lg" placeholder="relation" tabindex="6" required>
              <div *ngIf="roomBookForm.controls['relation'].hasError('required') && roomBookForm.controls['relation'].touched" class="alert alert-danger">please enter relation.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="rent" id="rent" class="form-control input-lg" placeholder="Rent" tabindex="5" [formControl]="roomBookForm.controls['rent']">
              <div *ngIf="roomBookForm.controls['rent'].hasError('required') && roomBookForm.controls['rent'].touched" class="alert alert-danger">please enter rent.</div>
            
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="text" name="security" id="security" class="form-control input-lg" placeholder="Security" tabindex="6" [formControl]="roomBookForm.controls['security']">
              <div *ngIf="roomBookForm.controls['security'].hasError('required') && roomBookForm.controls['security'].touched" class="alert alert-danger">please enter security.</div>
            
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" name="address" id="address" class="form-control input-lg" placeholder="address" tabindex="8" [formControl]="roomBookForm.controls['address']">
          <div *ngIf="roomBookForm.controls['address'].hasError('required') && roomBookForm.controls['address'].touched" class="alert alert-danger">please enter address.</div>
    
       </div>
       <div class="form-group">
        <input type="text" name="desc" id="desc" class="form-control input-lg" placeholder="Description" tabindex="8" [formControl]="roomBookForm.controls['desc']">
        <div *ngIf="roomBookForm.controls['desc'].hasError('required') && roomBookForm.controls['desc'].touched" class="alert alert-danger">please enter description.</div>
  
     </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6"><input type="submit" [disabled]="!roomBookForm.valid" value="Save" class="btn btn-primary btn-block btn-lg" tabindex="9"></div>
          <div class="col-xs-12 col-md-6"><input type="reset" class="btn btn-success btn-block btn-lg" tabindex="10" value="Cancel"></div>
        </div>
      </form>
    </div>
  </div>
  </div>