#accordion > div {
      margin-bottom: 0px !important;
   }
   
.filter {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  height: 100% !important;
  margin-left: 15px;
  height: inherit;
}

.top-margin{
  margin-top:60px;
}

.card-both-margin{
 margin-top: 15px;
 margin-bottom: 15px;
}
.card-right-margin{
  margin-right: 15px;
}

.card-shadow{
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
  min-height: 400px;
  max-height:400px;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
          /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e079";    /* adjust as needed, taken from bootstrap.css */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.request-btn{
  position: absolute;
  left:20px;
  top:20px;
}

.price-tag{
  position: absolute;
  bottom: 200px;
  color: #fff;
  z-index: 2;
  left: 15px;
  padding: 20px 10px;
  font-size: 18px;
  font-weight: bold;
}

.price-tag small {
  display: block;
  font-size: 11px;
  color: #ddd;
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75em 1em;
  color: rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  background: #fff;
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
}

.meta {
  font-size: 1em;
  color: rgba(0, 0, 0, .4);
}

.meta a {
  text-decoration: none;
  color: rgba(0, 0, 0, .4);
}

.meta a:hover {
  color: rgba(0, 0, 0, .87);
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.avatar-group{
  position: absolute;
  top: 15px;
  right: 0px;
  /*background:#ddd;*/
  padding: 0;
  border-radius: 3px;
  z-index: 2;
  height: 185px;
  max-height: 185px;
  cursor: pointer;
}

.avatar-group >ul >li {
  list-style-type: none;
}

.avatar-group .tag{
  transform: rotate(90deg);
  transform-origin: left top 0;
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(-90deg);
  -ms-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  width: 168px;
  display: block;
  position: absolute;
  bottom: -18px;
  left: 4px;
  color: #848484;
  text-align: center
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}



.avatar-group .icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 15px 5px 0 0;
  border: 1px solid rgb(151, 136, 136);
  border-radius: 100%;
}



.avatar-group .icon.girls {
  background: url(../images/avatar-sprit.png) no-repeat;
  background-position: -335px 0;
}

.avatar-group .icon.boys {
  background: url(../images/avatar-sprit.png) no-repeat;
  background-position: -293px 0;
}