<div class="row top-margin card-right-margin">
    <div class="col-sm-4 col-md4 col-xs-4 col-lg-4 card-shadow" *ngFor="let c of filterList">
      <div class="card card-both-margin">
          <figure class="figure">
              <img src="assets/images/room.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              <button class="btn btn-defualt request-btn btn-sm"> Request photos</button>
            </figure>
            <div class="price-tag">
                <i class="fa fa-rupee"></i>{{c.rent}}<span>/Month</span>
                <small>Deposit: <i class="fa fa-rupee"></i>{{c.deposit}}</small>
            </div>
            <div class="card-block">
                <h4 class="card-title">{{c.street1 | capitalize}},{{c.street2 | capitalize}}</h4>
                <div class="meta">
                  <a href="#">{{c.street1 | capitalize}}</a>
                </div>
                <div class="card-text">
                    {{c.content | capitalize}}
                </div>
                <div class="card-text">
                    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                    <button class="btn btn-primary btn-sm pull-center" data-toggle="modal" data-target="#viewContact" >Send SMS</button>
                    <button class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#viewContact">View Contact</button>
                </div>
             </div>
             <div class="card-footer">
                <span class="left-right"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Good Stay PG</span>
                <span class="pull-right"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Nov 8,2013</span>
               
            </div>
          </div>
    </div>
    
</div>
<contacts-component></contacts-component>