.gap-30{
    margin-right: 30px;
}

.gap-15{
    margin-right: 15px;
}

.gap-50{
    margin-right: 50px;
}

.tt{
    transform:rotate(0deg) translate(-10px);
    font-size: 11px;
}

.col-sm-6 {
    width: 49% !important;
}
