
<div class="container top-margin">
    
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form">
          <h2>Mapping Details <small>Room mapping details</small></h2>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                  <select name="city" id="city" class="form-control input-lg" tabindex="1" required (change)="changeCity($event)">
                      <option value="">City</option>
                      <option *ngFor="let l of city" value="{{l.id}}">{{l.name}}</option>
                  </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                  <select name="address" id="address" class="form-control input-lg" tabindex="2" required  >
                      <option value="">Address</option>
                      <option *ngFor="let l of address" value="{{l.id}}">{{l.street1}}</option>
                  </select>
              </div>
            </div>
          </div>
          
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                              <input type="text" name="roomNo" id="roomNo" class="form-control input-lg" placeholder="Room Number" tabindex="3">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <select  id="roomtype" class="form-control input-lg" tabindex="4"  required>
                        <option value="">Room Type</option>
                        <option *ngFor="let l of roomType" value="{{l.id}}">{{l.name}}</option>
                    </select>
                </div>
              </div>
            </div>
            
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="rent" id="rent" class="form-control input-lg" placeholder="Rent" tabindex="5">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="security" id="security" class="form-control input-lg" placeholder="Security" tabindex="6">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <select name="actype" id="actype" class="form-control input-lg" tabindex="7" required>
                      <option value="">AC Type</option>
                      <option *ngFor="let l of ac" value="{{l.id}}">{{l.name}}</option>
                  </select>
                </div>
              </div>
             
              <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                      <select name="gender" id="gender" class="form-control input-lg" tabindex="2" required>
                          <option value="">Gender</option>
                          <option *ngFor="let l of gender" value="{{l.id}}">{{l.name}}</option>
                      </select>
                  </div>
                </div>  
            </div>
            <div class="form-group">
                <input type="text" name="desc" id="desc" class="form-control input-lg" placeholder="Description" tabindex="8">
             </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-md-6"><input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" tabindex="9"></div>
            <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg" tabindex="10">Cancel</a></div>
          </div>
        </form>
      </div>
    </div>
    </div>
 